# Distribution / packaging
dist/
*.egg-info/

# Sphinx documentation
docs/build/
docs/source/_generated

# Environments
venv/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Pytest / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Customised
.idea
tests/*
!tests/data/
!tests/test_*.*
tutorials/*
.pypirc
cmd.txt
