# Environments
venv/
.idea/
*/vscode/
**/__pycache__/

# Sphinx documentation
*/build/
**/_generated/

# Jupyter Notebooks
**/.ipynb_checkpoints/

# Tests and code coverage
.coverage
.pytest_cache/
cov_reports/

# Distribution / packaging
dist/
*.egg-info/

# Bespoke items
*[!_]_.py
.pypirc
tutorials/*
cmd.md
