# Distribution / packaging
dist/
*.egg-info/

# Sphinx documentation
docs/build/
docs/source/_generated

# Environments
venv/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Pytest / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Customised
.idea
osm_geofabrik/
osm_bbbike/
misc/
tests/*
!tests/data/
!tests/images/
!tests/__init__.py
!tests/test_*.*
.pypirc
