attrs>=19.3.0
beautifulsoup4>=4.8.2
certifi>=2019.11.28
chardet>=3.0.4
Click>=7.0
click-plugins>=1.1.1
cligj>=0.5.0
et-xmlfile>=1.0.1
Fiona
fuzzywuzzy>=0.17.0
GDAL
geopandas>=0.6.2
html5lib>=1.0.1
humanfriendly>=4.18
idna>=2.8
jdcal>=1.4.1
lxml>=4.4.2
more-itertools>=8.0.2
munch>=2.5.0
numpy>=1.18.1
openpyxl>=3.0.2
pandas>=0.25.3
psycopg2>=2.8.4
pyhelpers>=1.0.20
pyproj>=2.4.2.post1
pyreadline>=2.1
pyshp>=2.1.0
python-dateutil>=2.8.1
python-Levenshtein>=0.12.0
python-rapidjson>=0.9.1
pytz>=2019.3
requests>=2.22.0
Shapely>=1.6.4.post2
six>=1.13.0
soupsieve>=1.9.5
SQLAlchemy>=1.3.12
SQLAlchemy-Utils>=0.36.1
tqdm>=4.41.1
urllib3>=1.25.7
webencodings>=0.5.1
xlrd>=1.2.0
XlsxWriter>=1.2.7
xlwt>=1.3.0
