atomicwrites==1.4.1
build==0.9.0
geopandas==0.12.1
jupyter==1.0.0
jupyterlab==3.5.0
orjson==3.8.1
pip-chill==1.0.1
py==1.11.0
pyrcs==0.3.3
pyshp==2.3.1
pytest-cov==4.0.0
python-rapidjson==1.9
sphinx-copybutton==0.5.1
sphinx-rtd-theme==1.1.1
tqdm==4.64.1
twine==4.0.1
ujson==5.5.0
