alabaster==0.7.12
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.4
docutils==0.16
et-xmlfile==1.0.1
fake-useragent==0.1.11
Fiona==1.8.18
fuzzywuzzy==0.18.0
GDAL==3.1.4
geopandas==0.8.1
html5lib==1.1
humanfriendly==9.1
idna==2.10
imagesize==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
keyring==21.5.0
lxml==4.6.2
MarkupSafe==1.1.1
more-itertools==8.6.0
munch==2.5.0
numpy==1.19.5
openpyxl==3.0.5
packaging==20.8
pandas==1.1.5
pkginfo==1.6.1
psycopg2==2.8.6
Pygments==2.7.2
pyhelpers==1.2.9
pyparsing==2.4.7
pyproj==3.0.0.post1
pyreadline==2.1
pyshp==2.1.2
python-dateutil==2.8.1
python-Levenshtein==0.12.0
python-rapidjson==1.0
pytz==2020.4
pywin32-ctypes==0.2.0
pyxlsb==1.0.7
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
scipy==1.6.0
Shapely==1.7.1
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.22
SQLAlchemy-Utils==0.36.8
tqdm==4.56.0
twine==3.3.0
urllib3==1.26.4
webencodings==0.5.1
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
