furo==2024.8.6
pyhelpers @ git+https://github.com/mikeqfu/pyhelpers.git@6340f480b08a3d7da2435dc3d5041f9003f9d97f
pyrcs==1.0.1
pyshp==2.3.1
Sphinx==8.2.3
sphinx-copybutton==0.5.2
sphinx-new-tab-link==0.8.0
sphinx-toggleprompt==0.6.0
